
name: Update Languages Overview

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  update-languages:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repo
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: Run script
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: python update_languages.py

    - name: Commit & Push Changes
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add .
        git commit -m "Updated Languages Overview"
        git push
